[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sanic = "*"
requests-async = "*"

[dev-packages]
sanic-testing = "*"
coverage = "*"

[requires]
python_version = "3.9"

[scripts]
test = make run-tests